<!DOCTYPE html>
<html>
  <head>
    <title>Hubble Space Telescope</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <h1 class="<%= className('style', 'blue_button') %>">The Hubble Space Telescope</h1>
  </body>
</html>